@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron index-content">
    <h2>ASP.net Final Project</h2>
    <h3>Group:</h3>

    <ul>
        <li>Humberto Rovina</li>
        <li>Fuchun Chai</li>
        <li>Henrique Beloto</li>
        <li>Felipe Belgine</li>
    </ul>

</div>